@import url('https://fonts.googleapis.com/css?family=Literata&display=swap');
@import 'mixins.scss';
// $primary-color: #ff0000;
$font-size: 20px;
$nav: #333;
$nav-hover: #aaa;
$bg-color-image: #e6e6fa;
$bg-color-btn: #248e16;
$color-btn: #fff;
$btn-dark: darken($color-btn,10%);
//dark theme variables
$dark-theme-bg:#212121;
$dark-theme-color:#f8f8ff;
$dark-theme-nav-hover:#ddd;

h1 {
    font-family: 'Literata', serif;
    position: relative;
    margin-top: 20%;
}

html, body{
    @include default-type();
}
p{
@include para();
}
img{
    @include image();
}

a{
    text-decoration: none;
    font-family: sans-serif;
}
nav{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 360px;
    padding: 30px;
    z-index: 2;

    a{
        color: $nav;
    }

    a:hover{
        color: $nav-hover;
    }
}
.content-container{
    display: flex;
    height: 100vh;
}
.image-content{
    width: 60%;
    background-color: $bg-color-image;
}

.info-content{
    position: relative;
    width: 40%;
    padding-left: 50px;
}
.btn{
    display:inline-block;
    width:auto;
    background-color:$bg-color-btn ;
    font-family: sans-serif;
    font-weight: 300;
    padding:20px;
    margin-top:30px;
    color:$color-btn;

    &:hover{
        filter:saturate(0.5);
    }
}



